footer {
    margin: 50px 0;
}

nav.publicnav{
    background-color:#66bfbf;
        
}
a.navbar-brand {
    color:white;
}

body {
    background-color:#eaf6f6;
}

.footer{
    background-color:#f76b8a;
}

