{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Our style sheet file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Student Database Management System</title>
</head>

<body>
    <!-- NavBar -->
    {% include 'partials/_navbar.html' %}
    <!-- Main Content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
</body>

</html>