{% extends 'base.html' %}

{% block content %}
<section id="studentdetails">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        Update Student Details
                    </div>
                    <div class="card-body">
                        <form action="/update/{{student.id}}" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="sname" class="col-sm-4 col-form-label">Student Id:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="student_id" id="student_id" required maxlength="20"
                                    value="{{student.student_id}}"/>                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sname" class="col-sm-4 col-form-label">Student Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="student_name" id="student_name" required maxlength="100"
                                        value="{{student.student_name}}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sname" class="col-sm-4 col-form-label">Student Email:</label>
                                <div class="col-sm-8">
                                        <input type="email" name="student_email" id="student_email" required maxlength="100"
                                        value="{{student.student_email}}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sname" class="col-sm-4 col-form-label">Student Contact:</label>
                                <div class="col-sm-8">
                                        <input type="text" name="student_contact" id="student_contact" required maxlength="100"
                                        value="{{student.student_contact}}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label for="sname" class="col-sm-4 col-form-label">Student Class:</label>
                                    <div class="col-sm-8">
                                            {{form.student_class}}
                                        </div>
                                </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block"
                                    style="background-color: #488b8f;">
                            </div>
                            <!-- form-group// -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}